.hm-dropdown .hm-dropdown__menu {
  --hm-dropdown-menuItem-hover-fill: var(--hm-color-primary-light-9);
  --hm-dropdown-menuItem-hover-color: var(--hm-color-primary);
  --hm-dropdown-menuItem-disabled-color: var(--hm-border-color-lighter);
  --hm-dropdown-menuItem-divided-color: var(--hm-border-color-lighter);
}
.hm-dropdown {
  display: inline-block;
  .hm-tooltip {
    --hm-popover-padding: 5px 0;
  }
}
.hm-dropdown__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .hm-dropdown__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    line-height: 22px;
    padding: 5px 16px;
    margin: 0;
    font-size: var(--hm-font-size-base);
    color: var(--hm-text-color-regular);
    cursor: pointer;
    outline: none;
    &:not(.is-disabled):hover {
      background-color: var(--hm-dropdown-menuItem-hover-fill);
      color: var(--hm-dropdown-menuItem-hover-color);
    }
    &.is-disabled {
      color: var(--hm-dropdown-menuItem-disabled-color);
      cursor: not-allowed;
      background-image: none;
    }
  }
  .divided-placeholder {
    margin: 6px 0;
    border-top: 1px solid var(--hm-dropdown-menuItem-divided-color);
  }
}
