:root {
  /* colors */
  --hm-color-white: #fff;
  --hm-color-black: #000;
  --colors: (primary: #409eff, success: #67c23a, warning: #e6a23c, danger: #f56c6c, info: #909399);

  @each $val, $color in var(--colors) {
    --hm-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --hm-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --hm-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --hm-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }

  --hm-bg-color: #fff;
  --hm-bg-color-page: #f2f3f5;
  --hm-bg-color-overlay: #fff;
  --hm-bg-color-dark-overlay: rgba(0, 0, 0, 0.8);
  --hm-text-color-primary: #303133;
  --hm-text-color-regular: #606266;
  --hm-text-color-secondary: #909399;
  --hm-text-color-placeholder: #a8abb2;
  --hm-text-color-disabled: #c0c4cc;
  --hm-border-color: #dcdfe6;
  --hm-border-color-light: #e4e7ed;
  --hm-border-color-lighter: #ebeef5;
  --hm-border-color-extra-light: #f2f6fc;
  --hm-border-color-dark: #d4d7de;
  --hm-border-color-darker: #cdd0d6;
  --hm-fill-color: #f0f2f5;
  --hm-fill-color-light: #f5f7fa;
  --hm-fill-color-lighter: #fafafa;
  --hm-fill-color-extra-light: #fafcff;
  --hm-fill-color-dark: #ebedf0;
  --hm-fill-color-darker: #e6e8eb;
  --hm-fill-color-blank: #fff;

  /* border */
  --hm-border-width: 1px;
  --hm-border-style: solid;
  --hm-border-color-hover: var(--hm-text-color-disabled);
  --hm-border: var(--hm-border-width) var(--hm-border-style) var(--hm-border-color);
  --hm-border-radius-base: 4px;
  --hm-border-radius-small: 2px;
  --hm-border-radius-round: 20px;
  --hm-border-radius-circle: 100%;

  /*font*/
  --hm-font-size-extra-large: 20px;
  --hm-font-size-large: 18px;
  --hm-font-size-medium: 16px;
  --hm-font-size-base: 14px;
  --hm-font-size-small: 13px;
  --hm-font-size-extra-small: 12px;
  --hm-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --hm-font-weight-primary: 500;

  /*disabled*/
  --hm-disabled-bg-color: var(--hm-fill-color-light);
  --hm-disabled-text-color: var(--hm-text-color-placeholder);
  --hm-disabled-border-color: var(--hm-border-color-light);

  /*animation*/
  --hm-transition-duration: 0.3s;
  --hm-transition-duration-fast: 0.2s;
}
