.hm-message {
  --hm-message-bg-color: var(--hm-color-info-light-9);
  --hm-message-border-color: var(--hm-border-color-lighter);
  --hm-message-padding: 11px 15px;
  --hm-message-close-size: 16px;
  --hm-message-close-icon-color: var(--hm-text-color-placeholder);
  --hm-message-close-hover-color: var(--hm-text-color-secondary);
}
.hm-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--hm-border-radius-base);
  border-width: var(--hm-border-width);
  border-style: var(--hm-border-style);
  border-color: var(--hm-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--hm-message-bg-color);
  padding: var(--hm-message-padding);
  display: flex;
  align-items: center;
  transition:
    top var(--hm-transition-duration),
    opacity var(--hm-transition-duration),
    transform var(--hm-transition-duration);
  .hm-message__content {
    color: var(--hm-message-text-color);
    overflow-wrap: anywhere;
  }

  .hm-message__icon {
    font-size: var(--hm-message-close-size);
    padding-right: 10px;
    color: var(--hm-message-text-color);
  }

  &.is-close .hm-message__content {
    padding-right: 10px;
  }
  .hm-message__close {
    display: flex;
    align-items: center;
    color: var(--hm-message-text-color);
  }
  .hm-message__close svg {
    cursor: pointer;
  }
}
@each $val in info, success, warning, danger {
  .hm-message--$(val) {
    --hm-message-bg-color: var(--hm-color-$(val)-light-9);
    --hm-message-border-color: var(--hm-color-$(val)-light-8);
    --hm-message-text-color: var(--hm-color-$(val));
    .hm-message__close {
      --hm-icon-color: var(--hm-color-$(val));
    }
  }
}
.hm-message.fade-up-enter-from,
.hm-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
